package-lock=false
@hytech:registry=https://bit-prod-977099025788.d.codeartifact.us-east-1.amazonaws.com/npm/npm-private-hub/
//bit-prod-977099025788.d.codeartifact.us-east-1.amazonaws.com/npm/npm-private-hub/:always-auth=true
